html {
    font-size: 16px;
}

body {
    font-family: 'Dancing Script', cursive;
    display: flex;
    background-image: url("../Images/Mr.Funtik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #5e996a;
    min-height: 100vh;
    background-position: center;
    align-items: start;
}

main {
    width: 100%;
}
main p {
    color: rgb(4, 48, 27);
    font-size: 3rem;
    background-color: rgba(145, 247, 219, 0.3);
    font-weight: bold;
    margin-top: 2rem;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
}

main p:hover {
    color: hsl(108, 60%, 95%);
}

footer {
    margin-top: auto;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
    main p {
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 400px) {
    main p {
        font-size: 1.7rem;
    }

    footer {
        font-size: 1rem;
    }
    
}